<div class="container-fluid hc_takemoney" ontouchstart="" onmouseover="">
	<div class="row hc_border_bp hc_mt">
		<div class="col-xs-12 hc_bankcard">
			<h1>支付宝账号</h1>
			<p>{{withdrawData.username}}<span class="pull-right" id="">
				{{withdrawData.alipay_account}}
			</span></p>
		</div>
	</div>
	<div class="row hc_border_bp hc_mt">
		<div class="col-xs-12 hc_number">
			<h1>提现金额</h1>
			<p class=" hc_border_b">￥
				<input placeholder="0" ng-model="withdrawTotal">
			</p>
		</div>
		<div class="col-xs-12 hc_balance">
			<p>可用余额<span>
				￥{{withdrawData.balance}}元
			</span> &nbsp;&nbsp;&nbsp;&nbsp;
				<!--手续费<span id="">-->
				<!--0.1%-->
			<!--</span>-->
			</p>
		</div>
	</div>
	<div class="row hc_mt">
		<div class="col-xs-12 hc_txbtn">
			<a href="" ng-click="withdraw()">提现</a>
		</div>
	</div>
	
</div>