<div class="container-fluid lk-zmop-container">
    <div class="row top-image-container" ng-if="!pass">
        <img src="imgs/zhimaxinyong.png" alt="" style="width: 70px;margin-top: 30px;margin-bottom: 20px;">
    </div>
    <div class="row top-image-container" ng-if="pass">
        <img src="imgs/zhimaxinyongtongguo.png" alt="" style="width: 80px;margin-top: 20px;margin-bottom: 20px;">
    </div>
    <div class="row text-container" ng-if="!pass">
        <div class="col-xs-12">
            <span>手机号码</span>
            <span style="float: right">
                <!--<input type="text" placeholder="{{userData.telephone}}" class="text-right">-->
                <span style = "position: absolute;left:100px;top:17px">{{userData.telephone}}</span>
            </span>
        </div>
        <div class="col-xs-12">
            <span>姓名</span>
            <span style="float: right">
                <input type="text" placeholder="请输入姓名" class="text-right" ng-model="userData.real_name">
            </span>
        </div>
        <div class="col-xs-12">
            <span>身份证号码</span>
            <span style="float: right">
                <input type="text" placeholder="请输入身份证号码" class="text-right" ng-model="userData.card_id">
            </span>
        </div>
    </div>
    <div class="row text-container" ng-if="pass">
        <div class="col-xs-12">
            <span>手机号码</span>
            <span style = "position: absolute;left:100px;top:17px">{{userData.telephone}}</span>
        </div>
        <div class="col-xs-12">
            <span>姓名</span>
            <span style = "position: absolute;left:100px;top:17px">{{userData.real_name}}</span>
        </div>
        <div class="col-xs-12">
            <span>身份证号码</span>
            <span style = "position: absolute;left:100px;top:17px">{{userData.card_id}}</span>
        </div>
    </div>
    <div class="row" style="padding-top: 16px" ng-if="!pass">
        <div class="col-xs-12">
            <div class="col-xs-12 btn" style="background-color: #ffeb00;font-size: 20px;" ng-click="yanzheng()">
                芝麻信用实名认证
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 16px">
        <div class="col-xs-12">
            <p>芝麻信用，是蚂蚁金服旗下独立的第三方征信机构，通过云计算、机器学习等技术客观呈现个人的信用状况，已经在信用卡、消费金融、融资租赁、酒店、租房、出行、婚恋、分类信息、学生服务、公共事业服务等上百个场景为用户、商户提供信用服务。</p>
        </div>
    </div>
</div>